/*=============== BUTTON STARTS ===============*/
.button {
    display: inline-block;
    justify-content: center;
    background-color: var(--first-color);
    color: var(--white-color);
    padding: 1rem 2rem;
    font-weight: var(--font-semi-bold);
    transition: background .4s, box-shadow .4s;
}

.button:hover {
    background-color: var(--first-color-alt);
    box-shadow: 0 8px 24px hsla(166, 85%, 8%, .2);
}

.button--dark {
    background-color: var(--dark-color);
}

.button--dark:hover {
    background-color: var(--dark-color);
}
/*=============== BUTTON ENDS ===============*/