/* ============== HEADER STARTS ============== */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

/* Add header shadow */
.header--shadow {
    box-shadow: 0 4px 16px hsla(166, 85%, 8%, .3);
}

.active-link {
    color: var(--first-color);
}
/* ============== HEADER ENDS ============== */