/*=============== POPULAR STARTS ===============*/
.popular {
    background-color: var(--body-white-color);
}

.popular .section__title {
    color: var(--title-color);
}

.popular__swiper {
    padding-top: 1.5rem;
}

.popular__card {
    width: 270px;
    display: grid;
    row-gap: 1.5rem;
}

.popular__images {
    position: relative;
    display: grid;
    justify-items: center;
    justify-self: center;
}

.popular__shape {
    width: 195px;
    height: 195px;
    background-color: var(--first-color);
    border-radius: 50%;
    clip-path: inset(50% 0 0 0);
}

.popular__images img {
    position: absolute;
}

.popular__coffee {
    width: 130px;
}

.popular__coffee {
    width: 130px;
    top: -1.5rem;
}

.popular__bean-1 {
    width: 30px;
    top: 3rem;
    left: .5rem;
    transition: transform .5s .1s;
}

.popular__bean-2 {
    width: 20px;
    right: 2rem;
    bottom: 2rem;
    rotate: 75deg;
    filter: blur(1px);
    transition: transform .5s .1s;
}

.popular__data {
    text-align: center;
}

.popular__name {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    margin-bottom: .5rem;
}

.popular__description {
    margin-bottom: 1.5rem;
}

.popular__card:hover .popular__bean-1 {
    transform: translate(-.5rem, -.25rem);
}

.popular__card:hover .popular__bean-2 {
    transform: translate(.5rem, -.25rem);
}

/* Swiper class */
.swiper {
    overflow: visible;
    margin-inline: initial;
}

/*=============== POPULAR ENDS ===============*/