/*=============== REUSABLE CSS CLASSES STARTS ===============*/
.container {
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 1.5rem;
  }
  
  .section {
    padding: 4.5rem 0 2rem;
  }
  
  .section__title {
    text-align: center;
    font-size: var(--big-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
  }
  
  /* .section__title::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 3px;
    height: 20px;
    background-color: var(--first-color);
  } */
  
  .main {
      overflow: hidden;
  }
  /*=============== REUSABLE CSS CLASSES ENDS ===============*/