/*=============== SCROLL BAR STARTS ===============*/
::-webkit-scrollbar {
    background-color: hsl(166, 20%, 30%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(166, 20%, 40%);
}

::-webkit-scrollbar-thumb:hover {
    width: .6rem;
    background-color: hsl(166, 20%, 50%);
}
/*=============== SCROLL BAR ENDS ===============*/

